name: 'Tests: Unit'
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  unit-tests:
    name: Run unit tests
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.58.2-noble
      options: --user 1001

    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4.2.0
        with:
          version: 10

      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Run unit tests
        run: pnpm run test:ci
        env:
          PUBLIC_FATHOM_ID: test_fathom_id
          PUBLIC_FATHOM_URL: https://test.example.com
          PUBLIC_TURNSTILE_SITE_KEY: test_turnstile_site_key
          TURNSTILE_SECRET_KEY: test_turnstile_secret_key
